<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
   
 <title>About</title>
 
<style>
body
{
    background-image:url("static/sea.jpg")
}
</style>   
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    
<link rel="shortcut icon" href="favicon_16.ico"/>
    <link rel="bookmark" href="favicon_16.ico"/>
    
<!-- site css -->
    <link rel="stylesheet" href="static/dist/css/site.min.css">
    
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
 
   <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
   
 <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
   
   <script src="js/html5shiv.js"></script>
   
   <script src="js/respond.min.js"></script>
    <![endif]-->
  

  <script type="text/javascript" src="static/dist/js/site.min.js"></script>
  </head>
  <body>
    <!--nav-->
  
  <nav role="navigation" class="navbar navbar-custom">
        <div class="container-fluid">
     
     <!-- Brand and toggle get grouped for better mobile display -->
         
   <span class="icon-bar"></span>
           
   <span class="icon-bar"></span>
           
   <span class="icon-bar"></span>
         
   </button>
       
     <a href="#" class="navbar-brand">Admin</a>
     
    

      <ul class="nav navbar-nav navbar-right">
      
        <li class="active"><a href="/">Go Back</a></li>
     
     </div><!-- /.navbar-collapse -->
    
    </div><!-- /.container-fluid -->
      </nav>
  
  <!--header-->
    <div class="container-fluid">
  
  <!--documents-->
        <div class="row row-offcanvas row-offcanvas-left">
    
      <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
       
     <ul class="list-group panel">
             
   
         </li>
                </li>
              </ul>
          </div>

   <div class="col-xs-12 col-sm-9 content">
            <div class="panel panel-default">
          
    <div class="panel-heading">

  <h3 class="panel-title"><a href="javascript:void(0);" class="toggle-sidebar"><span class="fa fa-angle-double-left" data-toggle="offcanvas" title="Maximize Panel"></span></a> Panel</h3>
              </div>

        <div class="panel-body">
             
   <div class="content-row">
            
      <h3 class="content-row-title"><center>Features</center></h3>
          
        <div class="row">
                
    <!--<div class="col-md-6">

              
        <div class="alert alert-warning alert-dismissable">

           <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                 
       <strong>Warning!</strong> Best check yo self, you're not looking too good.
                      </div>
-->
           
<!--<div class="alert alert-info alert-dismissable">
                
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

     <strong>Well done!</strong> You successfully read this important alert message.

     </div>
      -->

              </div>
                  
 <!-- <div class="col-md-6">
                      <div class="alert alert-success alert-dismissable">
           
             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    
                    <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                      </div>
                
      <div class="alert alert-danger">
                   
     <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
                      </div>
                    </div>
                  </div>
 
-->
               
  <div class="row">
                    <div class="col-md-6">
               
       <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
         
               <h4>Tutor Module 1: Authentication System</h4>
                     
   <p>Authenticates the teachers. Allows only those with vaid login ID and password</p>
          
                                  </div>






  <div class="alert alert-success alert-dismissable">
                       
 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Tutor Module 2: Create new tests</h4>
                     
   <p>The teachers can create new exams and give the name of the exam</p>
             
                              </div>
                    </div>
              

    


      <div class="col-md-6">
                    
  <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Student Module 1: Authentication System</h4>
                      
  <p>Authenticates the students. Allows only those with valid USN and password</p>
                
        <p>    
                   </p>
                      </div>
  



<div class="alert alert-info">
                       
 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Student Module 2: Taking up of tests</h4>
                     
   <p>Students select the test they wish to take up</p>
             
                              </div>
                    </div>
  

<div class="col-md-6">
                    
  <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Tutor Module 3: Question-Reference answer key entry</h4>
                      
  <p>Teachers enter the number of questions. Also the question and the prescribed solutions for the same are entered</p>
                
        <p>    
                   </p>
                      </div>
  


<div class="alert alert-success alert-dismissable">
                       
 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Tutor Module 4: Results</h4>
                     
   <p>Teachers can check the results of every test. The marks of the students along with their USN, question, student's answers, marks awarded using various text-similarity algorithms and their total percentage score are displayed</p>
             
                              </div>
                    </div>
  

     <div class="col-md-6">
                    
  <div class="alert alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      
  <h4>Student Module 3: Answering to the questions</h4>
                      
  <p>Students answer to the questions given by the tutor in the provided space</p>
                
        <p>    
                   </p>
                      </div>
  


<div class="alert alert-info">
                       
 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        
<h4>Student Module 4: Results</h4>
                     
   <p>Once all the answers are submitted, students can immediately see their total score, individual scores awarded for each question and the reference answers along with their answers</p>
             
                              </div>
                    </div>
  





     


              </div>
                    </div>
                  </div>
                </div>
               
 <div class="clearfix"></div>
                <br><br><br><br><br><br><br><br>
              </div><!-- panel body -->
            </div>
        </div><!-- content -->
    </p>
        </div>
      </div>
    </div>
  </body>
</html>
