<html>
  <head>
    <title>Student's Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="static/dist/css/site.min.css">
    
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
  </head>
<style>
body
{

}
</style>
<!--font face="garamond" size=5 color="purple">
    <h1>
    <center>Enter your answer</center>
    </h1>
    </font-->
   <div class="alert alert-info">
                       
 <!--button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button-->
                        
<h1><center>Enter your answer</center></h1>
                     
   <!--<p>Change this and that and try again. , est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
-->             
           <p>                                          </p>
                      </div>
                    </div>
                  </div>
                </div>
  <body>
    <div class="container">
      <!--<h1>hello {{ques[index]}}</h1>-->
      <br>
      <form action="" method="post">
        <!-- Question:<textarea name="Text1" value="Text1" cols="40" rows="5"></textarea>-->
        <h4><font size=5>Question: {{ques[index]}}</h4>
        <br>
        Solution: <textarea name="Text2" cols="40" rows="5"></textarea>
        </br>
		</br>
        <input class="btn btn-default" type="submit" value="Submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>